hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: black;
}

.wait {
    text-align: center;
    margin-top: 5rem;
}

/* Add to your CSS file */
.action-btn.active {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #45a049;
}

.view-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}